<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Don Feast</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="background-image: url(/black-friday-elements-assortment.jpg);
              background-size: cover;
              width: 100px;
              height: 100px">
  <header>
    <div>
      <h1>Cart([[${count}]])</h1>
    </div>
    <div>
      <h3>
        <a class="h4 m-3 text-decoration-none" style="color: #47d30c"
           th:href="@{/customer}">Home</a>
      </h3>
    </div>
  </header>

<div class="container-fluid text-center">
  <div>
    <table class="table-bordered">
      <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <th:block th:each="product : ${cart}">
        <tr>
          <td style="background-color: gold; padding: 15px 50px 15px 50px">[[${product.prodName}]]</td>
          <td style="background-color: chartreuse">[[${product.quantity}]]</td>
          <td style="background-color: mintcream">[[${product.unitPrice}]]</td>
          <td style="background-color: yellowgreen">

            <a class="h4 m-3 text-decoration-none" style="color: blue"
               th:href="@{'/customer/cart/updateQuantity/' + ${product.id}}">+</a>

            <a class="h4 m-3 text-decoration-none" style="color: black"
               th:href="@{'/customer/cart/updateQuantity/' + ${-1 * product.id}}">-</a>

            <a class="h4 m-3 text-decoration-none" style="color: red"
               th:href="@{'/customer/removeFromCart/' + ${product.id}}">Remove</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>