<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<header class="accordion-header" style="background-image: url(/HeaderImage.jpeg);
                                                            width: auto;
                                                            height: auto">
    <div>
        <h1 style="color: green;
                    text-align: center;
                    font-size: 60px">Welcome To Don Feast</h1>
    </div>

    <div>
        <ul>
            <h3>Categories</h3>
            <th:block th:each="category : ${categories}">
                <li><a class="h4 m-3 text-decoration-none" style="color: #003cff"
                   th:href="@{'/customer/category/' + ${category}}">[[${category}]]</a>
                </li>
            </th:block>
        </ul>
    </div>

    <div>
        <h2 style="color: #ff1428;
                  text-align: right;
                  position: relative;">
            <a class="h4 m-3 text-decoration-none " style="font-size: 40px"
               th:href="@{/customer/cart}" >My Cart</a>
        </h2>
    </div>
</header>
<div class="container-fluid text-center" style="background-color: rgba(204,20,255,0.99)">
    <div><h1>Store Products</h1></div>

    <div>
        <form action="/customer/search">
            <input  type="search" name="productName" placeholder="Product name" required>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div th:if="${#messages}" class="alert alert-success text-center">
        [[${message}]]
    </div>

<!--    <div class="m-2">-->
<!--        <a class="h3" style="color: #669dff" th:href="@{/customer/addToCart}">Products</a>-->
<!--    </div>-->

    <div>

        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="product : ${productList}">
                <tr>
                    <td>[[${product.category}]]</td>
                    <td>[[${product.prodName}]]</td>
                    <td>[[${product.quantity}]]</td>
                    <td>[[${product.unitPrice}]]</td>
                    <td>
                        <a class="h4 m-3 text-decoration-none" style="color: blue"
                           th:href="@{'/customer/addToCart/' + ${product.id}}">Add To Cart</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>